body {

    height: 100vh;
    background: url('./Images/Background.jpg') center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'DM Sans', sans-serif;
}

.quote-container {
    max-width: 400px;
    /* Set the maximum width for the quote */
}

.intro-text {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Figtree', sans-serif;
}

.animation {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.read-more-btn {
    display: none;
}

.read-more-paragraph {
    display: none;
}